* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(../imatges/fondo_página.jpg);
    background-size: cover;
    margin-top: 135px;
}

/* HEADER */

header {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#titulo {
    flex: 1;
    text-align: left;
}

#titulo h1 {
    color: white;
    margin: 0;
    border: 0;
}

#titulo>h1::before {
    content: "PIXEL";
    color: red;
}

#logo {
    flex: 1;
    text-align: center;
}

#logo img {
  width: 70px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 6px 12px;
    transition: 
        font-size 0.2s ease,
        color 0.2s ease,
        text-shadow 0.2s ease,
        font-weight 0.2s ease;
    text-shadow: none;
    font-weight: normal;
}

.menu a:hover {
    color: red;
    font-size: 1.25em;
    text-shadow: 0px 5px 5px red;    

}

.menu a.activo {
    color: red;
    text-shadow: 0px 5px 5px red;
    font-weight: bold; 
}


/* FOOTER */

footer {
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#video_footer{
    width: 300px;
}

.contenedor_padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.contenedores_hijos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo_footer img {
    width: 100px;
}

.contenedor_botones {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 60px;
    height: 60px;
    background: transparent;
    color: transparent;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.botones>img{
    width: 100%;
    border-radius: 15px;
}

.botones:hover {
    transform: scale(1.1);
}


/* MAIN */

main {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(201, 201, 201);
}

main>h1 {
    color: red;
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 3px red;
    margin-bottom: 5px;
}

main>p {
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: center;
}

.videos {
    padding: 20px;
}

main video {
    width: 100%;
    border: 3px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.videos h2 {
    margin-top: 25px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 3px solid #333;
}

main video:hover {
    box-shadow: 0 0 15px rgba(255, 0, 68, 0.7);
}

/* Primera Configuración */

.texto_izquierda, .video_derecha {
    width: 50%;
    float: left;
    text-align: start;
    padding: 30px;
}

/* Segunda configuración */

.video_izquierda, .texto_derecha {
    width: 50%;
    float: left;
    text-align: end;
    padding: 30px;
}

.secciones {
    float: left;
    width: 100%;
}