* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 201, 201);
}

/* HEADER */

header {
  background-color: #1a1a1a;
  padding: 20px;
  display: flex;
  align-items: center;
}

#titulo {
    flex: 1;
    text-align: left;
}

#titulo h1 {
    color: white;
    margin: 0;
    border: 0;
}


#logo {
    flex: 1;
    text-align: center;
}

#logo img {
  width: 70px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu a:hover {
    color: red;
    text-decoration: none;
}


/* FOOTER */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    list-style: square;
    margin-top: 10px;
}

footer ul li a {
    color: red;
    text-decoration: none;
}

footer>p{
    text-align: center;
}

footer>img{
    width: 800px;
    display: block;
    margin: 0 auto;
}

/* MAIN */

main {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: red;
    font-size: 2rem;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
}

form {
    margin: 0 auto;
    width: 100%;
}

fieldset {
    width: 40%;
    padding: 20px;
    border: 2px solid hsl(7, 80%, 50%);
    background-color: rgba(255, 81, 0, 0.1);
    margin: 0 auto;
}

fieldset label {
    display: block;
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus,
textarea:focus {
    border-color: red;
    outline: none;
    background-color: #fff7e6;
}

textarea::placeholder {
    color: #888;
    font-style: italic;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

input[type="email"]:valid {
    border-color: green;
}