* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 201, 201);
}

/* HEADER */

header {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    align-items: center;
}

#titulo {
    flex: 1;
    text-align: left;
}

#titulo h1 {
    color: white;
    margin: 0;
    border: 0;
}


#logo {
    flex: 1;
    text-align: center;
}

#logo img {
  width: 70px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu a:hover {
    color: red;
    text-decoration: none;
}


/* FOOTER */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    list-style: square;
    margin-top: 10px;
}

footer ul li a {
    color: red;
    text-decoration: none;
}

footer>p{
    text-align: center;
}

footer>img{
    width: 800px;
    display: block;
    margin: 0 auto;
}

/* MAIN */

main {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: red;
    font-size: 2rem;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
}

.videos {
    padding: 20px;
}

video {
    width: 40%;
    border: 3px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

.videos h2 {
    margin-top: 25px;
    color: rgb(255, 20, 0);
}

video:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255, 0, 68, 0.7);
}