* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 201, 201);
}

/* HEADER */

header {
  background-color: #1a1a1a;
  padding: 20px;
  display: flex;
  align-items: center;
}

#titulo {
    flex: 1;
    text-align: left;
}

#titulo h1 {
    color: white;
    margin: 0;
    border: 0;
}

#titulo>h1::before {
    content: "PIXEL";
    color: red;
}

#logo {
    flex: 1;
    text-align: center;
}

#logo img {
  width: 70px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu a:hover {
    color: red;
    text-decoration: none;
}

.menu a.activo {
    color: red;
}


/* FOOTER */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    list-style: square;
    margin-top: 10px;
}

footer ul li a {
    color: red;
    text-decoration: none;
}

footer>p{
    text-align: center;
}

footer>img{
    width: 800px;
    display: block;
    margin: 0 auto;
}

/* MAIN */

.contacto {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    display: flex;
    gap: 40px;
}

.info {
    flex: 1;
}


.cajas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.caja {
    background: #333;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: solid 3px #333;
}

.formulario {
    flex: 1;
}

.formulario h2 {
    margin-bottom: 10px;
    border-bottom: solid 3px red;
    color: red;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input, .formulario textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.formulario input:hover, .formulario textarea:hover, .formulario select:hover {
    background-color: #ededed;
}

.formulario button {
    background: #333;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: red;
    color: white;
}

.formulario select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: white;
}